<div class="d-flex flex-column vh-100 gap-1" style="gap: 3px">
  <!-- Header -->
  <div
    class="main-header d-flex justify-content-between align-items-center px-4 py-3 bg-white shadow-sm border-bottom"
    style="margin-bottom: 3px"
  >
    <h5 class="mb-0 fw-bold text-primary">Hệ thống quản lý tiêm chủng</h5>
    <div class="user-info d-flex align-items-center">
      <ng-container *ngIf="currentUser; else dangKyBlock">
        <img
          src="assets/images/OIP.jpg"
          alt="Avatar"
          class="rounded-circle me-2 border"
          width="36"
          height="36"
        />
        <span class="fw-medium me-2">
          {{ userData?.nguoiDung?.hoTen || userData?.taiKhoan?.tenDangNhap }}
        </span>

        <button class="btn btn-outline-danger btn-sm" (click)="dangXuat()">
          Đăng xuất
        </button>
      </ng-container>

      <!-- Nếu chưa đăng nhập -->
      <ng-template #dangKyBlock>
        <a class="btn btn-outline-primary btn-sm" href="/login"> Đăng nhập</a>
      </ng-template>
    </div>
  </div>

  <!-- Body -->
  <div class="d-flex flex-grow-1 gap-1" style="gap: 3px; height: auto">
    <!-- Sidebar -->
    <app-sidebar
      class="shadow-sm bg-white"
      style="width: 240px; min-width: 240px; margin-right: 3px"
    ></app-sidebar>

    <!-- Main content -->
    <div class="container" style="padding: 0px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
